vari = "foo"
block variables
!!! 5
html
  include head
    meta(name="description", content=vari)
  body(class="test #{data.firstName} #{data.secondName}")
    include helloworld/hw
    h2 bob
    block body